body {
    margin: 0;
    font-family: sans-serif;
    cursor: default;

}

.Desktop8 {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: white;
    margin: auto;
}

.Rectangle7.background {
    width: 1440px; 
    height: 1024px;
    position: absolute;
    background: #FF8686;
    border-radius: 35px;
}

.Rectangle7.content {
    width: 1375px;
    height: 972px;
    position: absolute;
    left: 32px;
    top: 26px;
    background: white;
    border-radius: 35px;
}


.logo{
    position: absolute;
    left: 130px;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
.Lt {
    font-size: 18px;
    text-align: center;
    color: black;
    font-family: 'Hakgyoansim Dunggeunmiso OTF';
}

.Lt2 {
    font-size: 27px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-family: 'Hakgyoansim Dunggeunmiso OTF';
}

.Lt3 {
    font-size: 13px;
    text-align: center;
    color: black;
    font-family: 'Hakgyoansim Dunggeunmiso OTF';
}

.Marvel1 {
    width: 1128.50px;
    height: 719px;
    position: absolute;
    left: 156px;
    top: 152px;
}